[user]
	name = Michael Farrell
    email = c_farrell@braincorporation.com
[push]
	default = simple
[alias]
	co = checkout
	st = status
	ct = commit
	subup = submodule update --init --recursive
[core]
	editor = vim
